<div class="quote-container">
    <p class="quote-text">"Поодинці ми можемо так мало - разом ми можемо перевернути гори."</p>
    <p class="author">Хелен Келлер, письменниця, лектор і політична активістка</p>
</div>

<div class="photo-gallery">
    <div class="photo-container">
        <div class="name-container">
            <div class="initial">Л</div>
            <p class="name">іліана</p>
        </div>
        <img src="/assets/images/liliana.jpg" alt="Photo 1" class="photo">
        <div class="surname-container">
            <div class="surname-initial">М</div>
            <p class="surname">ірчук</p>
        </div>
    </div>

    <div class="photo-container">
        <div class="name-container">
            <div class="initial">А</div>
            <p class="name">настасія</p>
        </div>
        <img src="/assets/images/nastia.jpg" alt="Photo 2" class="photo">
        <div class="surname-container">
            <div class="surname-initial">В</div>
            <p class="surname">еретільник</p>
        </div>
    </div>

    <div class="photo-container">
        <div class="name-container">
            <div class="initial">О</div>
            <p class="name">ксана</p>
        </div>
        <img src="/assets/images/oksana.jpg" alt="Photo 3" class="photo">
        <div class="surname-container">
            <div class="surname-initial">М</div>
            <p class="surname">азурак</p>
        </div>
    </div>

    <div class="about-us">
        <h3>Про нас</h3>
        <p>Ми - команда 3-курсників кафедри СШІ. Ми хочемо покращувати стан діагностики пацієнтів сучасними методами штучного інтелекту. Віримо, що штучний інтелект не просто змінює світ — він відкриває нові горизонти для людства.</p>
    </div>
</div>