<body>
    <main>
        <form>
            <input class="input1" type="text" id="inputField" name="inputField" required placeholder="Введіть вік">
            <input class="input2" type="text" id="inputField" name="inputField" required placeholder="Введіть стать">
            <input class="input3" type="text" id="inputField" name="inputField" required placeholder="Введіть ChestPainType">
            <input class="input4" type="text" id="inputField" name="inputField" required placeholder="Введіть RestingBP">
            <input class="input5" type="text" id="inputField" name="inputField" required placeholder="Введіть Cholesterol">
            <input class="input6" type="text" id="inputField" name="inputField" required placeholder="Введіть FastingBS">
            <input class="input7" type="text" id="inputField" name="inputField" required placeholder="Введіть RestingECG">
            <input class="input8" type="text" id="inputField" name="inputField" required placeholder="Введіть MaxHR">
            <input class="input9" type="text" id="inputField" name="inputField" required placeholder="Введіть ExerciseAngina">
            <button type="submit" class="main-page-button" (click)="openModal(modalTemplate)">Надіслати</button>
        </form>
          
    </main>
</body>

<router-outlet></router-outlet>

<ng-template #modalTemplate>
    <div class="modal-content">
        <div class="modal-text">ВИ ЖИВІ!</div>
        <img src="/assets/images/mc_petya.jpg" alt="mc_petya" class="modal-image">
    </div>
</ng-template>
